{% extends 'base.html.twig' %}

{% block title "Hotels"%}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {%  include('hotel/_filter.html.twig') %}
            </div>
            <div class="col-md-9">
                <div class="d-flex justify-content-end mb-2">
                    {{ knp_pagination_sortable(hotels, 'Etoile', 'h.nbEtoiles') }}
                </div>
                <div class="grid">
                    {% for hotel in hotels %}
                        {{ include('hotel/_hotel_card.html.twig') }}
                    {% endfor %}
                    <div class="mt-4">
                        {{ knp_pagination_render(hotels) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}


    {% endblock %}

{% endblock %}