{% extends 'base_admin.html.twig' %}

{% block title %}Edit Hotel{% endblock %}

{% block body %}
    <h1>Edit Hotel</h1>
    <div class="db-info-wrap">
        <div class="row">
            <div class="col-lg-12">
                <div class="dashboard-box">
                <h1>Edit Hotel</h1>
                {{ include('hotel/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
