{% extends 'base.html.twig' %}

{% block title %}Edit Hotel{% endblock %}

{% block body %}
    <h1>Edit Hotel</h1>
    <main role="main" class="container">
        {{ include('hotel/_delete_form.html.twig') }}
        <div class="row">
            <div class="col-md-6 mx-auto">
                {{ include('hotel/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
    </main>


{% endblock %}
