{% extends 'base.html.twig' %}

{% block title %}New Hotel{% endblock %}

{% block body %}
    <h1>Create new Hotel</h1>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                {{ include('hotel/_form.html.twig') }}
            </div>
        </div>
    </main>

{% endblock %}
