
{% extends "base.html.twig" %}

{% block header %}
    {% include "partials/navbar1.html.twig" %}
{% endblock %}

{% block body %}
    <main id="content" class="site-main">
        <div class="trip-search-section shape-search-section" >
            <div class="slider-shape"></div>
            <div class="container" style="display: flex; align-items: center">
                <div class="trip-search-inner white-bg d-flex" style="align-items: center; justify-content: center">
                    <div class="input-group">
                        <label> Search Destination* </label>
                        <input type="text" name="s" placeholder="Enter Destination">
                    </div>
                    <div class="input-group width-col-3">
                        <label> Checkin Date* </label>
                        <i class="far fa-calendar"></i>
                        <input class="input-date-picker" type="text" name="s" placeholder="MM / DD / YY" autocomplete="off" readonly="readonly">
                    </div>
                    <div class="input-group width-col-3">
                        <label> Checkout Date* </label>
                        <i class="far fa-calendar"></i>
                        <input class="input-date-picker" type="text" name="s" placeholder="MM / DD / YY" autocomplete="off" readonly="readonly">
                    </div>
                    <div class="input-group width-col-3">
                        <label class="screen-reader-text"> Search </label>
                        <input type="submit" name="travel-search" value="INQUIRE NOW">
                    </div>
                </div>
            </div>
        </div>

        <section class="destination-section">
            <div class="container">
                <div class="section-heading text-center">
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <h5>Hotels</h5>
                            <h2>TOP NOTCH HOTELS</h2>
                            <div class="title-icon-divider"><i class="fas fa-suitcase-rolling"></i></div>
                        </div>
                    </div>
                </div>
                <div class="destination-inner destination-four-column">
                    <div class="row">
                        {% set max = 10 %}
                        {% for i in 0..max %}
                            <div class="col-lg-3 col-sm-6">
                                <div class="desti-item text-center">
                                    <figure class="desti-image">
                                        <img src="assets/images/hyatt.jpg" alt="">
                                        <div class="rating-start" title="Rated 5 out of 4">
                                            <span style="width: 53%"></span>
                                        </div>
                                    </figure>
                                    <div class="desti-content">
                                        <h3>
                                            <a href="#">Movenpic Resort</a>
                                        </h3>
                                        <div class="meta-cat">
                                            <a href="{{ path('app_hotel_rooms',{'id_hotel':3,'date_arrive':'2022-04-13','date_depart':'2022-04-16'}) }}">CHECK ROOMS</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                    <div class="btn-wrap text-center">
                        <a href="#" class="button-primary">MORE HOTELS</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- subscribe html end -->
    </main>

    <script>
        $(document).ready(function () {
            $("#date_picker_arrivee").datepicker({
                minDate: 0
            });
        });
        $(document).ready(function () {
            $("#date_picker_depart").datepicker({
                minDate: 0
            });
        });

        function get_arrive_date(){
            return document.getElementById("date_picker_arrivee").value;
        }
        function get_arrive_depart(){
            return document.getElementById("date_picker_depart").value;
        }
    </script>



{% endblock  %}










