<div class="dashboard-header sticky-header">
    <div class="content-left  logo-section pull-left">
        <h1><a href="" style="display: flex; align-items: center"><img src="/assets/images/logo.png" style="width: 60px" alt=""> Tfarhida </a></h1>
    </div>
    <div class="heaer-content-right pull-right">
        <div class="search-field">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="search" placeholder="Search Now">
                    <a href="#"><span class="search_btn"><i class="fa fa-search" aria-hidden="true"></i></span></a>
                </div>
            </form>
        </div>

        <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <div class="dropdown-item profile-sec">
                    <img src="/assetsadmin/images/comment.jpg" alt="">
                    <span>My Account </span>
                    <i class="fas fa-caret-down"></i>
                </div>
            </a>
            <div class="dropdown-menu account-menu">
                <ul>
                    <li><a href="#"><i class="fas fa-cog"></i>Settings</a></li>
                    <li><a href="#"><i class="fas fa-user-tie"></i>Profile</a></li>
                    <li><a href="#"><i class="fas fa-key"></i>Password</a></li>
                    <li><a href="#"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>