<section class="home-banner-section">
    <div class="home-banner-items">
        <div class="banner-inner-wrap" style="background-image: url(/assets/images/profilee.png);"></div>
        <div class="banner-content-wrap">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="banner-content section-heading section-heading-white">
                            <h5>EXPLORE. DISCOVER. TRAVEL</h5>
                            <h2 class="banner-title">JOURNEY TO EXPLORE NATURE</h2>
                            <div class="title-icon-divider"><i class="fas fa-suitcase-rolling"></i></div>
                            <p>Taciti quasi, sagittis excepteur hymenaeos, id temporibus hic proident ullam, eaque donec delectus tempor consectetur nunc, purus congue? Rem volutpat sodales! Mollit. Minus exercitationem wisi.</p>
                            <div class="slider-button">
                                <a href="#" class="button-primary">READ MORE</a>
                                <a href="#" class="button-secondary">SEE ALL OFFER</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4">

                        <!-- Home search field html start -->
                        <div class="trip-search-section">
                            <div class="container">
                                <div class="trip-search-inner secondary-bg">
                                    <div class="input-group width-col-1">
                                        <label> Search Destination* </label>
                                        <input type="text" name="s" placeholder="Enter Destination">
                                    </div>
                                    <div class="input-group width-col-1">
                                        <label> Pax Number* </label>
                                        <input type="text" name="s" placeholder="No.of People">
                                    </div>
                                    <div class="input-group width-col-1">
                                        <label> Checkin Date* </label>
                                        <i class="far fa-calendar"></i>
                                        <input class="input-date-picker" type="text" name="s" placeholder="MM / DD / YY" autocomplete="off" readonly="readonly">
                                    </div>
                                    <div class="input-group width-col-1">
                                        <label> Checkout Date* </label>
                                        <i class="far fa-calendar"></i>
                                        <input class="input-date-picker" type="text" name="s" placeholder="MM / DD / YY" autocomplete="off" readonly="readonly">
                                    </div>
                                    <div class="input-group width-col-1">
                                        <label class="screen-reader-text"> Search </label>
                                        <input type="submit" name="travel-search" value="INQUIRE NOW">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- search search field html end -->
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
</section>