<header id="masthead" class="site-header header-primary">
    <!-- header html start -->
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 d-none d-lg-block">
                    <div class="header-contact-info">
                        <ul>
                            <li>
                                <a href="#"><i class="fas fa-phone-alt"></i> +01 (977) 2599 12</a>
                            </li>
                            <li>
                                <a href="mailto:info@Travel.com"><i class="fas fa-envelope"></i> company@domain.com</a>
                            </li>
                            <li>
                                <i class="fas fa-map-marker-alt"></i> 3146 Koontz Lane, California
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 d-flex justify-content-lg-end justify-content-between">
                    <div class="header-social social-links">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="header-search-icon">
                        <button class="search-icon">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-header">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="site-identity">
                <h1 class="site-title">
                    <a href="index.html">
                        <img src="/assets/images/logo.png" alt="logo">
                    </a>
                </h1>
            </div>
            <div class="main-navigation d-none d-lg-block">
                <nav id="navigation" class="navigation">
                    <ul>
                        <li class="menu-item-has-children">
                            <a href="index.html">Home</a>
                            <ul>
                                <li>
                                    <a href="index-v2.html">Home 2</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Tour</a>
                            <ul>
                                <li>
                                    <a href="destination.html">Destination</a>
                                </li>
                                <li>
                                    <a href="tour-packages.html">Tour Packages</a>
                                </li>
                                <li>
                                    <a href="package-offer.html">Package Offer</a>
                                </li>
                                <li>
                                    <a href="package-detail.html">Package Detail</a>
                                </li>
                                <li>
                                    <a href="tour-cart.html">Tour Cart</a>
                                </li>
                                <li>
                                    <a href="booking.html">Package Booking</a>
                                </li>
                                <li>
                                    <a href="confirmation.html">Confirmation</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">About us</a>
                            <ul>
                                <li>
                                    <a href="about.html">About</a>
                                </li>
                                <li>
                                    <a href="service.html">Service</a>
                                </li>
                                <li>
                                    <a href="career.html">Career</a>
                                </li>
                                <li>
                                    <a href="career-detail.html">Career Detail</a>
                                </li>
                                <li>
                                    <a href="tour-guide.html">Tour Guide</a>
                                </li>
                                <li>
                                    <a href="gallery.html">Gallery</a>
                                </li>
                                <li>
                                    <a href="single-page.html">Single Page</a>
                                </li>
                                <li>
                                    <a href="faq.html">FAQ Page</a>
                                </li>
                                <li>
                                    <a href="testimonial-page.html">Testimonial Page</a>
                                </li>

                            </ul>
                        </li>

                        <li class="menu-item-has-children">
                            <a href="#">Blog</a>
                            <ul>
                                <li><a href="blog-archive.html">Blog List</a></li>
                                <li><a href="blog-archive-left.html">Blog Left Sidebar</a></li>
                                <li><a href="blog-archive-both.html">Blog Both Sidebar</a></li>
                                <li><a href="blog-single.html">Blog Single</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Dashboard</a>
                            <ul>
                                <li class="menu-item-has-children">
                                    <a href="admin/user.html">My Reservations</a>
                                    <ul>
                                        <li>
                                            <a href="admin/user-edit.html">Hotels</a>
                                        </li>
                                        <li>
                                            <a href="admin/user-edit.html">Cars</a>
                                        </li>
                                        <li>
                                            <a href="admin/user-edit.html">Houses</a>
                                        </li>
                                        <li>
                                            <a href="admin/user-edit.html">Events</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="menu-item-has-children">
                                    <a href="#">User</a>
                                    <ul>
                                        <li>
                                            <a href="admin/user-edit.html">Edit Profile</a>
                                        </li>
                                        <li>
                                            <a href="admin/user-edit.html">Log out</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header-btn">
                <a href="#" class="button-primary">BOOK NOW</a>
            </div>
        </div>
    </div>
    <div class="mobile-menu-container"></div>
</header>

<!-- header html end -->
</div>