<div class="dashboard-navigation">
    <!-- Responsive Navigation Trigger -->
    <div id="dashboard-Navigation" class="slick-nav"></div>
    <div id="navigation" class="navigation-container">
        <ul>
            <li class="active-menu"><a href="dashboard.html"><i class="far fa-chart-bar"></i> Dashboard</a></li>
            <li><a><i class="fas fa-hotel"></i>Hotels</a>
                <ul>
                    <li>
                        <a href="{{ path('app_admin_hotel') }}">List</a>
                    </li>
                    <li>
                        <a href="{{ path('app_hotel_new') }}">ajouter</a>
                    </li>
                </ul>
            </li>
            <li>
                <a><i class="fas fa-hotel"></i></i>Maison</a>
                <ul>
                    <li><a href="{{ path('app_maison_index') }}">List</a></li>
                    <li><a href="{{ path('app_maison_new') }}">Ajouter</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>