{% extends 'base.html.twig' %}

{% block title "Maisons"%}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {%  include('maison/_filter.html.twig') with {form: form, min: min, max: max} only%}
            </div>
            <div class="col-md-9">
                <div class="d-flex justify-content-end mb-2">
                    {{ knp_pagination_sortable(maisons, 'Prix', 'm.prix') }}
                </div>
                <div class="grid">
                    {% for maison in maisons %}
                        {{ include('maison/_maison_card.html.twig') }}
                    {% endfor %}
                    <div class="mt-4">
                        {{ knp_pagination_render(maisons) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') | replace({'src=':'defer src='}) | raw }}
    {% endblock %}

{% endblock %}