{% extends 'base.html.twig' %}

{% block title %}Edit Chambre{% endblock %}

{% block body %}
    <h1>Edit Chambre</h1>
    <a href="{{ path('app_chambre_index') }}">back to list</a>
    {{ include('chambre/_form.html.twig') }}
    {{ include('chambre/_delete_form.html.twig') }}

{% endblock %}
