@import "~bootstrap";


.card img:hover{
    transform: scale(1);
    transition: transform 0.3s ease-out;
}
.grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.filter{
    display: block;
    position: sticky;
    top: 20px;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}