<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}


    </head>
    <body>
        {{ include('partials/_flush_messages.html.twig') }}
        {% block body %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') | replace({'src=':'defer src='}) | raw }}

        {% endblock %}
        <script src="https://kit.fontawesome.com/f97c525c8e.js" crossorigin="anonymous"></script>

</html>
