<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}chaker pidev!{% endblock %}</title><meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="..//assetsadmin/images/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assetsadmin/css/bootstrap.min.css" media="all">
    <!-- Fonts Awesome CSS -->
    <link rel="stylesheet" type="text/css" href="/assetsadmin/css/all.min.css">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/assetsadmin/style.css">

    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}


</head>
<body>
{% include "partials/header_admin.html.twig" %}
{% include "partials/navigation_panel_admin.html.twig" %}

{% block body %}



{% endblock %}
{% include "partials/footer.html.twig" %}

{% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
{% endblock %}
<!-- *Scripts* -->
<script src="/assetsadmin/js/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="/assetsadmin/js/bootstrap.min.js"></script>
<script src="/assetsadmin/js/canvasjs.min.js"></script>
<script src="/assetsadmin/js/chart.js"></script>
<script src="/assetsadmin/js/counterup.min.js"></script>
<script src="/assetsadmin/js/jquery.slicknav.js"></script>
<script src="/assetsadmin/js/dashboard-custom.js"></script>
</body>
</html>
