{% extends 'base.html.twig' %}

{% block title %}Edit Topic{% endblock %}

{% block body %}
    <div class="inner-baner-container" >
        <div class="container">
            <div class="inner-banner-content">
                <h1 class="inner-title">Modifier Topic</h1>
            </div>
        </div>
    </div>
    <div class="trip-search-section shape-search-section">
        <div class="slider-shape"></div>
        <a class="fa fa-arrow-left fa-5x" href="{{ path('app_topic_index') }}"></a>
    </div>
    </div>


<div class="container">
    {{ include('topic/_form.html.twig', {'button_label': 'Update'}) }}

</div>


{% endblock %}
