{% extends 'base.html.twig' %}

{% block title %}Edit Sujet{% endblock %}

{% block body %}
    <h1>Edit Sujet</h1>
    <a class="btn btn-outline-secondary" href="{{ path('app_sujet_index',{'idtopic': topic.idtopic,'idsujet': sujet.idsujet}) }}">back to list</a>
<div class="container">
    {{ include('sujet/_form.html.twig', {'button_label': 'Update'}) }}
</div>



{% endblock %}
