{% extends 'base_admin.html.twig' %}

{% block title %}New Voiture{% endblock %}

{% block body %}
    <div class="db-info-wrap">
        <div class="row">
            <div class="col-lg-12">
                <div class="dashboard-box">

                    <h1>Ajouter Voiture</h1>
                    {{ include('voiture/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('app_voiture_index') }}">retour</a>
{% endblock %}
